# Packages needed

awesome
awesome-extra
i3lock
xss-lock
xbacklight
imagemagick
libnotify-bin
xfonts-terminus
ttf-dejavu
xcompmgr
python-xpyb
python-imaging
gnome-themes-standard
gnome-wine-icon-theme
alsa-utils
pavucontrol
gnome-bluetooth
pulseaudio
numlockx
ruby-notify
xdotool
