# Packages needed

awesome
awesome-extra
xbacklight
libnotify-bin
xfonts-terminus
ttf-dejavu
python-xpyb
python-imaging
fvwm
fvwm-crystal
gnome-themes-standard
gnome-wine-icon-theme
alsa-utils
pavucontrol
gnome-bluetooth
pulseaudio
ruby-notify
